/*=== Variables CSS ===*/
:root{
    --header-height: 3 rem;
    /*== colors ==*/
    --red-col: #8C1432;
    --lblue-col: #008cff;
    --white-col: #fff;
    --dblue-col: #1D2551;
    --lgray-col: #A5A5A5;

    /*== z index ==*/
    --z-fixed:100;
    --z-bg:-100;
    --z-tooltip:10;

    /*== heights ==*/
    --nav-height: 60px;
    --nav-height2: 80px;
}
body{
    overflow-x: hidden;
}

/*== Home ==*/
.home__bg_cont{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: var(--z-bg);
    animation-name: moving;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    size: cover;
}
.homebg__animation{
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url("../img/header-bg.png");
}

@keyframes moving {
    0% {
        -ms-transform: scale(1,1); /* IE 9 */
        -webkit-transform: scale(1,1); /* Safari 3-8 */
        transform: scale(1,1);
    }
    50% {
        -ms-transform: scale(1.5,1.5); /* IE 9 */
        -webkit-transform: scale(1.5,1.5); /* Safari 3-8 */
        transform: scale(1.5,1.5);}
    75% {
        -ms-transform: scale(1.3,1.3); /* IE 9 */
        -webkit-transform: scale(1.3,1.3); /* Safari 3-8 */
        transform: scale(1.3,1.3);}
    100% {
        -ms-transform: scale(1,1); /* IE 9 */
        -webkit-transform: scale(1,1); /* Safari 3-8 */
        transform: scale(1,1);
    }
}

/* .home__container{
    height: auto;
    width: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        'r1'
        'r2'
        'r3'
        'r4'
        'r5'
        'r6'
        'r7';
} */

.short_line{
    width: 40px;
    height: 6px;
    background-color:var(--lblue-col);
    margin: 0 auto 15px;
    border-radius: 30px;
}


/*== R1 ==*/
.r1{
    display: flex;
    flex-direction: column;
    justify-content:left;
    position: relative;
    left: 100px;
    width: 50%;
    height: 100%;
    color: var(--white-col);
    /* border: 1px solid salmon; */
    /* padding: 30px 0px 30px 30px; */
    overflow: hidden;
}
.r1__content{
    /* border: 1px solid greenyellow; */
    margin: auto;
    /* margin: 60% 0 40%; */
}
.home__title{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
    font-weight: bold;
}
.home__subtitle{
    font-weight:lighter;
    font-size: 20px;
}
@media screen and (min-width: 1200px) {
    .home__title{
        font-size: 65px;
    }
    .home__subtitle{
        font-size: 30px;
    }
}
@media screen and (max-width:768px) {
    .home__title{
        font-size: 35px;
    }
    .home__subtitle{
        font-weight: lighter;
        font-size: 20px;
    }
    .r1{
        left: 50px;
    }
    .r1__content{
        margin: 80% 0 20%;
    }
}
@media screen and (max-width:620px){
    .home__title{
        font-size: 25px;
    }
    .home__subtitle{
        font-weight: lighter;
        font-size: 15px;
    }
    .r1{
        left: 0;
        width: 100%;
    }
    .r1__content{
        margin: auto;
        padding: 20px;
    }
}
@media screen and (max-width:365px){

}

/*== R2 ==*/
.r2{
    display: flex;
    flex-direction: column;
    background-color:var(--white-col);
    width: 100%;
    height: fit-content;
    text-align: center;
    margin: auto;
    /* border: 1px solid salmon; */
    background-color: white;
    padding: 100px 50px;
}
.r2__title{
    margin: 0 0 15px;
    color: #8C1432;
    font-size: 35px;
}
.r2__subtitle{
    color: #797979;
    font-size: 20px;
}
.button1{
    display: block;
    background-color: #8C1432;
    width: 200px;
    height: 50px;
    margin: 15px auto 0;
    box-sizing: border-box;
    border-radius: 5px;
    text-decoration: none!important;
    color: white;
    padding-top: 10px;
    transition-duration: 0.4s;
}
.button1:hover{
    background-color: rgb(51, 51, 51);
    color: #008cff;
}
.button1 i{
    padding: 2px 10px;
    display: inline-block;
}


@media screen and (max-width:768px){
    .r2__title{
        font-size: 30px;
    }
    .r2__subtitle{
        color: #A5A5A5;
        font-size: 17px;
    }
    .button1{
        width: 160px;
        height: 40px;
        margin: 15px auto 0;
        font-size: 13px;
    }
    .r2{
        padding: 60px 50px;
    }
}

/*== R3 ==*/
.r3__title{
    color: white;
    font-weight: lighter;
    display: block;
}
.r3__content{
    text-align: center;
    width: 100%;
    height: 400px;
    /* background-color: #8f8f8f; */
    background-color: #332b2b;
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

}
.sec__box{
    /* border: 1px solid blue; */
    width: 25%;
    padding: 0 10px;
}
.r3__section{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* align-content: center; */
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}
.r3_sec1_title,.r3_sec2_title,.r3_sec3_title{
    /* color:var(--red-col); */
    color: #ff9bb4;
    font-size: 25px;
    font-weight: lighter;
    height: auto;
}
.r3_sec1_subtitle,.r3_sec2_subtitle,.r3_sec3_subtitle{
    color: var(--white-col);
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: lighter;

}
/* @media screen and (max-width:1454px){
    .r3_sec1_title,.r3_sec2_title,.r3_sec3_title{
        height: 60px;
    }
} */
@media screen and (max-width:768px){
    .r3__content{
        height: 300px;
    }
    .r3_sec1_title,.r3_sec2_title,.r3_sec3_title{
        font-size: 18px;
        /* height: 50px; */
    }
    .r3_sec1_subtitle,.r3_sec2_subtitle,.r3_sec3_subtitle{
        font-size: 10px;
    }
}
@media screen and (max-width:582px){
    .r3__section{
        flex-direction: column;
    }
    .sec__box{
        width: 80%;
        margin: auto;
        padding: 0 10px;
    }
    .r3_sec1_title,.r3_sec2_title,.r3_sec3_title{
        /* height: 25px; */
        height: auto;
    }
    
}
@media screen and (max-width:334px){
    .r3__content{
        height: 360px;
    }
}

/*== R4 ==*/
.r4{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.r4__content{
    /* position: relative; */
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: -50;
}
.r4__section{
    width: 100%;
    /* position: fixed; */
}
.r4__bg{
    width: 100%;
    height: 100%;
    background-image: url("../img/bg2.png");
    background-size: cover;
    background-position: center;
}


/*== R5 ==*/
.r5__container{
    height: 500px;
    background-color: #29010b;
}
.r5__cont_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.r5_r1_title{
    width: 100vw;
    height: 100px;
}
.r5_r1_h2-container{
    width: 300px;
    margin: 40px auto;
}
.r5_r1_h2{
    /* color: #332b2b; */
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300
}
.r5_r2_newsbox{
    display: flex;
    flex-direction: row;
    /* width: 80vw; */
    margin: auto;
    /* filter: drop-shadow(0 0 0.2rem rgb(150, 150, 150)); */
    filter: drop-shadow(0 0 0.2rem rgb(27, 27, 27));
}
.r5_r2_c{
    height: 280px;
    width: 360px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
}
.r5_r2_c1__image{
    height: 180px;
    overflow: hidden;
}
.r5_r2_c1__image img{
    width: 360px;
}
.c1__text-title a{
    /* padding: 10px; */
    font-size: 12pt;
    font-weight: 300;
    color: #838383;
    text-decoration: none!important;
}
.r5_r2_c1__text{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 80%;
    margin: 20 auto;
}
.c1__text-date{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.c1__date-logo span{
    padding-right: 10;
    /* padding-left: 10; */
    font-size: 12pt;
    color: #008cff;
}
.c1__date-text p{
    font-size: 9pt;
    color: #008cff;
}

.c1__text-title a:hover{
    font-weight: 400;
    color: #8C1432!important;
}
.r5_r2_c1__image img:hover{
    transform: scale(1.5);
    transition-duration: 0.5s;
}

@media screen and (max-width: 1170px) {
    .r5__container{
        height: 400px;
    }
    .r5_r2_c{
        height: 230px;
        width: 300px;
        border-radius: 20px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 30px;
    }
    .r5_r2_c1__image{
        height: 130px;
    }
    .r5_r2_c1__image img{
        width: 300px;
    }
}

@media screen and (max-width: 980px) {
    .r5__container{
        height: 400px;
    }
    .r5_r2_c{
        height: 200px;
        width: 250px;
        border-radius: 20px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 30px;
    }
    .r5_r2_c1__image{
        height: 120px;
    }
    .r5_r2_c1__image img{
        width: 250px;
    }
    .r5_r2_c1__text{
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
        width: 80%;
        margin: 10 auto;
    }
    .c1__text-date{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }
    .c1__date-logo span{
        padding-right: 10;
        /* padding-left: 10; */
        font-size: 12pt;
        color: #008cff;
    }
    .c1__date-text p{
        font-size: 9pt;
        color: #008cff;
    }
}

@media screen and (max-width: 822px) {
    .r5__container{
        height: 880px;
    }
    .r5_r2_c{
        height: 220px;
        width: 450px;
        margin-top: 30px;
    }
    .r5_r2_c1__image{
        height: 150px;
    }
    .r5_r2_c1__image img{
        width: 450px;
    }
    .r5_r2_c1__text{
        width: 80%;
        margin: 15 auto;
    }
    .r5_r2_newsbox{
        flex-direction: column;
    }
    .c1__text-date{
        margin-top: 0px;
    }
}

@media screen and (max-width: 500px) {
    .r5_r2_c{
        height: 220px;
        width: 350px;
        margin-top: 14px;
    }
    .r5_r2_c1__image img{
        width: 350px;
    }
}

@media screen and (max-width: 388px) {
    .r5__container{
        height: 700px;
    }
    .r5_r2_c{
        height: 170px;
        width: 260px;
        margin-top: 14px;
    }
    .r5_r2_c1__image{
        height: 100px;
    }
    .r5_r2_c1__image img{
        width: 260px;
    }
    .r5_r2_c1__text{
        width: 80%;
        margin: 15 auto;
    }
    .r5_r2_newsbox{
        flex-direction: column;
    }
    .c1__text-date{
        margin-top: 0px;
    }
}

/*== R6 ==*/
.r6__container{
    width: 100vw;
    background-color: white;
    height: 330px;
    overflow: hidden;
}
.slider__container{
}
.logo-slider{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 180px;
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}
.logo-slide img{
    width: 170px;
    margin: auto auto;
}
.logo-slide{
    margin-top: 40px;
    margin: 0 90px;
}
.r6__title{
    text-align: center;
    padding-top: 50px;
}
.r6__title h1{
    font-weight: 300;
    color: #5a5a5a;
}




/*== Company Description ==*/
.comp__desc__footer{
    width: 100%;
    height: 300px;
    background-color: var(--red-col);
    display: flex;
    color: var(--white-col);
}
.comp__content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 10px;
    margin: 0 auto;
}
#logo_3{
    width: 140px;
    height: auto;
}
.comp_desc_c1,.comp_desc_c2,.comp_desc_c3{
    height: fit-content;
}
.comp_desc_c2{
    display: flex;
    flex-direction: column;
}
.comp_desc_wrapper{
    display: flex;
    flex-direction: row;
}
.desc_icon_wrapper{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.desc_text_wrapper{
    display: flex;
    flex-direction: column;
}
.comp_desc_c2_title,.comp_desc_c3_title{
    font-size: 15px;
    font-weight: lighter;
}
.desc_text{
    font-weight: lighter;
    font-size: 13px;
}
.comp_desc_c2_title{
    padding: 20px 0;
}
.desc_icon{
    padding: 10px;
    font-size: 20px;
}
.desc_text{
    padding: 10px;
}
#filling-space{
    height: 17px;
}

@media screen and (max-width:605px){
    #logo_3{
        width: 110px;
        height: auto;
    }
}
@media screen and (max-width:600px){
    .comp__content{
        flex-direction: column;
    }
    .comp__desc__footer{
        height: 500px;
    }
}



/*== Footer ==*/
.footer__deep{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: var(--white-col);
    justify-content: center;
    align-items: center;
}
.footer__wrapper{
    width: fit-content;
    height: fit-content;
    text-align: center;
    color:var(--red-col);
}
.f{
    display: inline-block;
}
#bold_name{
    display: inline-block;
    font-weight: bold;
}
.company__footer{
    display: inline-block;
}